@model FacebookGoogleAPIProject.Models.User

<h2>Yeni Kullanıcı Ekle</h2>
<form method="post">
    <label>İsim:</label>
    <input type="text" name="Name" />
    <br />
    <label>Email:</label>
    <input type="email" name="Email" />
    <br />
    <button type="submit">Ekle</button>
</form>
