@model IEnumerable<FacebookGoogleAPIProject.Models.User>

<h2>Kullanıcı Listesi</h2>
<a href="/User/Create">Yeni Kullanıcı Ekle</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>İsim</th>
            <th>Email</th>
            <th>Oluşturulma Tarihi</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.CreatedAt</td>
                <td>
                    <a href="/User/Delete/@user.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
